/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #343434;
  overflow-x: hidden;
}

.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  height: 40px;
}

.language-switch {
  display: flex;
  gap: 24px;
  align-items: center;
}

.btn {
  background: #ffffff;
  color: #343434;
  border-radius: 80px;
  border: none;
  padding: 13px 37px;
  cursor: pointer;
  font-size: 16px;
}

.btn.active {
  background: #052dc1;
  color: #ffffff;
}


/* Heading Section */


.heading-section {
  text-align: center;
  margin: 60px 0;
  padding: 0 20px;
}

.heading-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #343434;
}

.highlight {
  color: #052dc1;
}

.heading-section p {
  font-size: 1.5vw;
  color: #464646;
  margin: 20px 0;
}

.start-btn {
  background: #052dc1;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 32px;
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

/* Role Buttons Container */
.role-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px; 
  margin-top: 20px;
}
.role-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px; 
  height: 120px; 
  border: none;
  border-radius: 12px; 
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px; 
  font-weight: 500;
  color: #052dc1;
}

.role-btn.active {
  background-color: #052dc1;
  color: #ffffff;
}

.role-btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.role-icon {
  width: 48px; 
  height: 48px; 
  margin-bottom: 12px;
}



@media (max-width: 768px) {
  .role-btn {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }

  .role-icon {
    width: 36px;
    height: 36px;
  }
}

.phone-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

/* Phone Frame */
.phone-frame {
  position: relative;
  z-index: 1;
}

.phone-frame img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.phone-container.teacher {
  width: 700px; /* larger for teacher role */
}

.phone-container.teacher img {
  width: 100%; 
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}


@keyframes jump-sway {
  0%, 100% {
    transform: translateY(0) translateX(0); /* Default position */
  }
  25% {
    transform: translateY(-20px) translateX(-10px); /* move up and slightly left */
  }
  50% {
    transform: translateY(0) translateX(0); /* Move up higher, center */
  }
  75% {
    transform: translateY(-20px) translateX(10px); /* Move up and slightly right */
  }
}

.card {
  position: absolute;
  animation: jump-sway 6s ease-in-out infinite; /* Smooth, continuous animation */
  transform-origin: center;
  z-index: 2;
}

.materials {
  top: 20%;
  left: -70%;
  transform: translateX(-50%);
  animation-delay: 0s;
}

.proforientation {
  top: 40%;
  right: -60%;
  transform: translateX(50%);
  animation-delay: 0.2s;
}

.ai-consultant {
  bottom: 0%;
  left: -30%;
  transform: translateX(-50%);
  animation-delay: 0.5s;
}
@media (min-width: 400px) {
  .card.materials {
    top: 10%; /* Move closer to the image */
    left: -50%; /* Adjust left position */
  }

  .card.proforientation {
    top: 30%; /* Adjust top position */
    right: -40%; /* Bring closer to the image */
  }

  .card.ai-consultant {
    bottom: 10%; /* Bring closer to the image */
    left: -20%; /* Adjust left position */
  }
}

/* Section with Cards (Only for students */
.mobile-application-section {
  text-align: center;
  margin-top: 50px;
}

.mobile-application-title {
  font-size: 4rem; 
  font-weight: 700;
  color: #23242a;
  margin-bottom: 40px;
  text-align: center;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow: hidden; 
}

/* Card Styling */
.cardInfo {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 500px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  opacity: 1; 
  transition: transform 0.8s ease, opacity 0.8s ease; /* smooth animations */
}

/* animation to move card 1 & 3 */
.animated-card {
  opacity: 0; /* hidden */
  transform: scale(0.8); /* shrunk */
  position: fixed;
  z-index: 10; 
  transition: opacity 0.8s ease, transform 1.2s ease;
}

/* Card 1 - in top-left corner */
.animated-card:nth-of-type(1) {
  top: -10%; 
  left: -10%;
  transform: translate(-100%, -100%) scale(0.8); 
}

/* Card 3 - in top-right corner */
.animated-card:nth-of-type(3) {
  top: -10%; 
  right: -10%;
  transform: translate(100%, -100%) scale(0.8);
}

/* After Scrolling */
.animated-card.visible {
  opacity: 1; 
  transform: translate(30%, 0%) scale(1); 
  position: relative; 
  transition: transform 1.2s ease, opacity 0.8s ease;
}

/* card 3- move closer to center */
.animated-card:nth-of-type(3).visible {
  transform: translate(-30%, 0%) scale(1); 
}


/* background gradient for cards */
.cardInfo.blue {
  background: url('@/assets/appCards/glass1.png') no-repeat center center/cover;
}

.cardInfo.red {
  background: url('@/assets/appCards/glass2.png') no-repeat center center/cover;
}

.cardInfo.purple {
  background: url('@/assets/appCards/glass3.png') no-repeat center center/cover;
}

/* blur */
.cardInfo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; 
  backdrop-filter: blur(2px);
  z-index: 1;
}

.cardInfo.blue::after {
  background: linear-gradient(
    to top,
    rgba(0, 122, 255, 0.5) 0%,
    rgba(0, 122, 255, 0.2) 70%,
    transparent 100%
  );
}

.cardInfo.red::after {
  background: linear-gradient(
    to top,
    rgba(233, 132, 132, 0.5) 0%,
    rgba(226, 141, 141, 0.2) 70%,
    transparent 100%
  );
}

.cardInfo.purple::after {
  background: linear-gradient(
    to top,
    rgba(79, 55, 138, 0.4) 0%,
    rgba(79, 55, 138, 0.2) 70%,
    transparent 100%
  );
}

.blue-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #0b56a7; 
  z-index: 2;
}

.red-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #bc3b3b; 
  z-index: 2;
}

.purple-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #442e7c; 
  z-index: 2;
} 

/* Card Images */
.card-image {
  position: absolute;
  top: 12%;
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

/* making responsive */
@media (max-width: 768px) {
  .mobile-application-title {
    font-size: 3rem;
  }

  .card-container {
    flex-direction: column; /* Stack cards vertically */
  }

  .cardInfo {
    max-width: 300px;
    height: 450px;
  }

  .card-image {
    width: 60%;
  }

  .card-title {
    font-size: 1.8rem;
    bottom: 30px;
  }
}

@media (max-width: 480px) {
  .cardInfo {
    max-width: 100%;
    height: 400px;
  }

  .card-image {
    width: 50%;
  }

  .card-title {
    font-size: 1.5rem;
    bottom: 20px;
  }
}


/* "About" section */
.logo-text-container {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-bottom: 12px;
}

.feature-logo {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.third-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 36px;
  background: #ffffff;
  box-shadow: 12px 10px 80px 20px rgba(0, 0, 0, 0.03);
  border-radius: 48px;
  max-width: 1240px;
  margin: 50px auto;
}

.frame-header-left {
  text-align: left;
  max-width: 1176px;
}

.frame-header-left h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #000000;
}

.frame-header-left p {
  font-size: 20px;
  color: #8e8e93;
  line-height: 1.4;
  margin-top: 16px;
}

/* Features Container */
.features-container-vertical {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

/* each separate feature */
.feature-card-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 36px;
  gap: 40px;
  background: #f9f9f9;
  border-radius: 24px;
  width: 1176px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}
.feature-card-vertical.reverse-layout {
  flex-direction: row-reverse;
}

/* background gradient */
.gradient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 401px;
  height: 356px;
  border-radius: 48px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.gradient-blue {
  background: linear-gradient(135deg, #9bffcf 0%, #53c6ff 100%); /* Updated as per design */
}

.gradient-orange {
  background: linear-gradient(135deg, #ffdbb5 0%, #ff9d82 100%); /* Updated as per design */
}

.gradient-purple {
  background: linear-gradient(135deg, #76acf7 0%, #6943dd 100%); /* Updated as per design */
}

.clipped-image1 {
  position: absolute;
  width: 815px;
  height: 568px; 
  left: 60px; 
  bottom: -228px; 
}

.clipped-image2 {
  position: absolute;
  width: 815px; 
  height: 568px; 
  right: 60px; 
  bottom: -228px; 
}

.clipped-image3 {
  position: absolute;
  width: 815px;
  height: 568px; 
  right: 60px; 
  top: -50px; 
}

.mobile-screenshot {
  width: 280px;
  height: 584px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  left: 66px;
 
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 663px;
}
.feature-content h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

.feature-content p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
}

/* responsive */
@media (max-width: 768px) {
  .feature-card-vertical {
    flex-direction: column;
    text-align: center;
  }

  .feature-card-vertical.reverse-layout {
    flex-direction: column;
  }

  .gradient-container {
    width: 100%;
    height: 300px;
  }

  .mobile-screenshot {
    width: 80%;
  }
}

/* Partners section */
.company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 32px;
  text-align: center;
  margin: 0 auto;
}

.company-section h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #23242A;
  margin: 0;
}

.logo-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  max-width: 1240px;
  margin: 0 auto;
}

/* Individual Logos */
.logo-frame img {
  height: 48px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .company-section h2 {
      font-size: 40px;
  }
  .logo-frame {
      gap: 40px;
  }
}

@media (max-width: 768px) {
  .company-section h2 {
      font-size: 32px;
  }
  .logo-frame {
      gap: 20px;
  }
}

@media (max-width: 480px) {
  .company-section h2 {
      font-size: 28px;
  }
  .logo-frame img {
      height: 36px;
  }
}

/* "Advantages" section (only for teachers) */
.advantages-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 32px;
  max-width: 1240px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 12px 10px 80px 20px rgba(0, 0, 0, 0.03);
  border-radius: 48px;
  text-align: center;
}

.advantages-section h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  margin-bottom: 16px;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
  width: 100%;
}

.advantage-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  background: rgba(192, 192, 192, 0.09);
  border-radius: 24px;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advantage-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.advantage-card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #171717;
  margin-bottom: 12px;
}

.advantage-card p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #6c6c6c;
}

@media (max-width: 768px) {
  .advantages-section h2 {
    font-size: 32px;
  }
  .advantage-card h3 {
    font-size: 28px;
  }
  .advantage-card p {
    font-size: 18px;
  }
}

/* Blue Background Section */
.download-section {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 64px auto;
  border-radius: 20px;
  overflow: hidden;
  background: url("../assets/background.jpeg") no-repeat center center/cover;
}

.download-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  position: relative;
}

/* left section: text & qr */
.text-qr {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 70%;
}
.qr-sign {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  max-width: 90%;
}

.text-qr h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.text-qr p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
}

.qr-code img {

  width: 205px;
  height: 205px; 
  border-radius: 12px; 
  background-color: #ffffff; 
  padding: 5px;
}

/* right Section: phone in hands */
.hand-phone {
  position: absolute;
  right: 0;
  bottom: 200px;
  right: -200px;
  max-width: 50%;
  max-height: 50%;
}

.hand-phone img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .download-content {
      flex-direction: column;
      text-align: center;
  }

  .text-qr {
      max-width: 100%;
  }

  .hand-phone {
      position: relative;
      bottom: 0;
  }
}

@media (max-width: 768px) {
  .text-qr h2 {
      font-size: 36px;
  }

  .qr-code img {
      width: 100px;
  }
}

@media (max-width: 480px) {
  .text-qr h2 {
      font-size: 28px;
  }
}

/* Footer */
.footer {
  background-color: #ffffff;
  border-top: 1px solid #d7dae2;
  border-radius: 56px 56px 0 0;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;


  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

/* left section: contacts */
.footer-contact {
  flex: 1 1 50%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  color: #2b2d33;
}

.footer-body,
.footer-detail {
  font-size: 14px;
  color: #555a65;
  line-height: 1.6;
}

.footer-link {
  color: #052dc1;
  text-decoration: none;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}

/* right section: logo & social media */
.footer-info {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.footer-logo {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #27272e;
  letter-spacing: -2px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #27272e;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-icon img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icon img:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .footer-contact,
  .footer-info {
    align-items: center;
    text-align: center;
  }
}
